html, body {
    font-family: arial, helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e1e1e1;
    width: 400px;
}

h1 {
    font-size: 16px;
    color: #fff;
    text-shadow: 0 1px 3px #500;
    background-color: #b9090b;
    padding: 10px 7px;
}

ul.fighters {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    width: auto;
    overflow-x: auto;
    list-style: none;
}

ul.fighters li {
    display: inline-table;
    position: relative;
    margin: 5px;
}

ul.fighters div.fighterInner img {
    width: 166px;
    height: 236px;
    border: 1px solid #a4a4a4;
}

ul.fighters div.fighterOverlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 10;
    background-color: red;
    opacity: 0.5;
}

ul.fighters div.fighterOverlay p {
    cursor: default;
    color: white;
    width:100%;
    position: absolute;
    text-align: center;
    padding-top:100%;
    -webkit-transform: translateY(-50%); /* child now centers itself relative to the midline based on own contents */
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-filter: 'progid:DXImageTransform.Microsoft.Matrix(Dx=0,Dy=0)'; /*IE8 */
    filter: progid:DXImageTransform.Microsoft.Matrix(Dx=0,Dy=0); /*IE6, IE7*/
    transform: translateY(-50%);   
}

a.btn {
    display: inline-block;
    color: #fff;
    text-shadow: 0 1px 3px #500;
    background-color: #b9090b;
    padding: 8px;
    margin: 5px 0 5px 5px;
    text-decoration: none;
    outline: none;
}

a.btn:hover {
    background-color: #ca1a1c;
}